In [1]:
from bs4 import BeautifulSoup 
import requests
import lxml

In [2]:
r= requests.get("https://www.worldometers.info/coronavirus/")
soup = BeautifulSoup(r.text, "lxml")

In [3]:
print(soup.body.prettify())

<body>
 <script async="true" type="text/javascript">
  (function() {
  var host = 'worldometers.info';
  var element = document.createElement('script');
  var firstScript = document.getElementsByTagName('script')[0];
  var url = 'https://quantcast.mgr.consensu.org'
    .concat('/choice/', 'Pd9JxUkvV0m7q', '/', host, '/choice.js');
  var uspTries = 0;
  var uspTriesLimit = 3;
  element.async = true;
  element.type = 'text/javascript';
  element.src = url;

  firstScript.parentNode.insertBefore(element, firstScript);

  function makeStub() {
    var TCF_LOCATOR_NAME = '__tcfapiLocator';
    var queue = [];
    var win = window;
    var cmpFrame;

    function addFrame() {
      var doc = win.document;
      var otherCMP = !!(win.frames[TCF_LOCATOR_NAME]);

      if (!otherCMP) {
        if (doc.body) {
          var iframe = doc.createElement('iframe');

          iframe.style.cssText = 'display:none';
          iframe.name = TCF_LOCATOR_NAME;
          doc.body.appendChild(iframe);
        } else {
          setTimeout(addFrame, 5);
        }
      }
      return !otherCMP;
    }

    function tcfAPIHandler() {
      var gdprApplies;
      var args = arguments;

      if (!args.length) {
        return queue;
      } else if (args[0] === 'setGdprApplies') {
        if (
          args.length > 3 &&
          args[2] === 2 &&
          typeof args[3] === 'boolean'
        ) {
          gdprApplies = args[3];
          if (typeof args[2] === 'function') {
            args[2]('set', true);
          }
        }
      } else if (args[0] === 'ping') {
        var retr = {
          gdprApplies: gdprApplies,
          cmpLoaded: false,
          cmpStatus: 'stub'
        };

        if (typeof args[2] === 'function') {
          args[2](retr);
        }
      } else {
        queue.push(args);
      }
    }

    function postMessageEventHandler(event) {
      var msgIsString = typeof event.data === 'string';
      var json = {};

      try {
        if (msgIsString) {
          json = JSON.parse(event.data);
        } else {
          json = event.data;
        }
      } catch (ignore) {}

      var payload = json.__tcfapiCall;

      if (payload) {
        window.__tcfapi(
          payload.command,
          payload.version,
          function(retValue, success) {
            var returnMsg = {
              __tcfapiReturn: {
                returnValue: retValue,
                success: success,
                callId: payload.callId
              }
            };
            if (msgIsString) {
              returnMsg = JSON.stringify(returnMsg);
            }
            event.source.postMessage(returnMsg, '*');
          },
          payload.parameter
        );
      }
    }

    while (win) {
      try {
        if (win.frames[TCF_LOCATOR_NAME]) {
          cmpFrame = win;
          break;
        }
      } catch (ignore) {}

      if (win === window.top) {
        break;
      }
      win = win.parent;
    }
    if (!cmpFrame) {
      addFrame();
      win.__tcfapi = tcfAPIHandler;
      win.addEventListener('message', postMessageEventHandler, false);
    }
  };

  makeStub();

  var uspStubFunction = function() {
    var arg = arguments;
    if (typeof window.__uspapi !== uspStubFunction) {
      setTimeout(function() {
        if (typeof window.__uspapi !== 'undefined') {
          window.__uspapi.apply(window.__uspapi, arg);
        }
      }, 500);
    }
  };

  var checkIfUspIsReady = function() {
    uspTries++;
    if (window.__uspapi === uspStubFunction && uspTries < uspTriesLimit) {
      console.warn('USP is not accessible');
    } else {
      clearInterval(uspInterval);
    }
  };

  if (typeof window.__uspapi === 'undefined') {
    window.__uspapi = uspStubFunction;
    var uspInterval = setInterval(checkIfUspIsReady, 6000);
  }
})();
 </script>
 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1438574-2', 'auto');
  ga('send', 'pageview');
 </script>
 <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1438574-30">
 </script>
 <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1438574-30');
 </script>
 <style type="text/css">
  .style1 {
        color: #666666
    }
 </style>
 <div class="navbar navbar-default">
  <div class="container">
   <div class="navbar-header">
    <div class="logo">
     <a class="navbar-brand" href="/">
      <img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/>
     </a>
    </div>
    <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
     <span class="icon-bar">
     </span>
     <span class="icon-bar">
     </span>
     <span class="icon-bar">
     </span>
    </button>
   </div>
   <div class="navbar-collapse collapse" id="navbar-main">
    <ul class="nav navbar-nav">
     <li>
      <a href="/coronavirus/">
       <span style="color:#FF9900; font-weight:bold">
        Coronavirus
       </span>
      </a>
     </li>
     <li>
      <a href="/population/">
       Population
      </a>
     </li>
    </ul>
   </div>
  </div>
 </div>
 <div class="container">
  <div class="row">
   <div style="text-align:left; margin-bottom:10px">
    <script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
    </script>
    <ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-slot="3287840995" style="display:inline-block;width:970px;height:90px">
    </ins>
    <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
   </div>
  </div>
  <div class="row">
   <div class="col-md-8">
    <div class="content-inner">
     <style>
      .number-table {
        font-size: 20px;
        font-weight: bold
    }

    .number-table-main {
        font-size: 24px;
        font-weight: bold
    }
     </style>
     <script src="/js/highcharts.js">
     </script>
     <style type="text/css">
      <!--
    .source { }

    .style2 {
        color: #FF0000
    }

    .style4 {
        color: #FF0000;
        font-weight: bold;
    }

    .style6 {
        font-size: 12px;
        color: #bbb;
        font-weight: bold;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source11 {
        font-size: 12px;
        color: #bbb;
    }    .source111 {

    } .source1111 {
        font-size: 12px;
        color: #bbb;
    }



    -->
     </style>
     <div class="label-counter" id="page-top">
      COVID-19 Coronavirus Pandemic
     </div>
     <div style="font-size:13px; color:#999; margin-top:5px; text-align:center">
      Last updated: November 11, 2020, 20:44 GMT
     </div>
     <div style="margin-top:20px; text-align:center; font-size:14px">
      <a href="/coronavirus/coronavirus-cases/">
      </a>
      <a href="/coronavirus/worldwide-graphs/">
       Graphs
      </a>
      -
      <a href="#countries">
       Countries
      </a>
      -
      <a href="/coronavirus/coronavirus-death-rate/">
       Death Rate
      </a>
      -
      <a href="/coronavirus/coronavirus-symptoms/">
       Symptoms
      </a>
      -
      <a href="/coronavirus/coronavirus-incubation-period/">
       Incubation
      </a>
      -
      <strong>
      </strong>
      <strong>
      </strong>
      <a href="/coronavirus/transmission/">
       Transmission
      </a>
      -
      <a href="#news">
       News
      </a>
     </div>
     <div id="maincounter-wrap" style="margin-top:15px">
      <h1>
       Coronavirus Cases:
      </h1>
      <div class="maincounter-number">
       <span style="color:#aaa">
        52,311,089
       </span>
      </div>
     </div>
     <div style="text-align:center ">
      <a href="#countries">
       view by country
      </a>
     </div>
     <div id="maincounter-wrap" style="margin-top:15px">
      <h1>
       Deaths:
      </h1>
      <div class="maincounter-number">
       <span>
        1,287,341
       </span>
      </div>
     </div>
     <div id="maincounter-wrap" style="margin-top:15px;">
      <h1>
       Recovered:
      </h1>
      <div class="maincounter-number" style="color:#8ACA2B ">
       <span>
        36,615,175
       </span>
      </div>
     </div>
     <div style="margin-top:50px;">
     </div>
     <style>
      .panel_flip {
        position: relative;
        height: 100%;
    }

    .panel_front {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_back {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_flip.flip .panel_front {

        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }

    .panel_flip.flip .panel_back {

        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }
     </style>
     <script>
      $(function() {

        $('.flip_cases_front').on('click', function() {


            $(this).parent().parent().addClass('flip');
        });

        $('.flip_cases_back').on('click', function() {


            $(this).parent().parent().removeClass('flip');
        });
    });
     </script>
     <div class="col-md-6">
      <div class="panel panel-default">
       <div class="panel-heading" style="text-align:center">
        <span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
         Active Cases
        </span>
       </div>
       <div class="panel-body" style="text-align:center; height:200px;">
        <div class="panel_flip">
         <div class="panel_front" style="width:100%;height:100%;">
          <div class="number-table-main">
           14,408,573
          </div>
          <div style="font-size:13.5px">
           Currently Infected Patients
          </div>
          <div style="padding-top:20px;position:relative;text-align:center; ">
           <div style="float:left; text-align:center">
            <span class="number-table" style="color:#8080FF">
             14,313,357
            </span>
            (
            <strong>
             99
            </strong>
            %)
            <div style="font-size:13px">
             in Mild Condition
            </div>
            <br/>
           </div>
           <div style="float:right; text-align:center">
            <span class="number-table" style="color:red ">
             95,216
            </span>
            (
            <strong>
             1
            </strong>
            %)
            <div style="font-size:13px">
             Serious or Critical
            </div>
            <br/>
           </div>
          </div>
          <a class="flip_cases_front" href="javascript: void(0);" style="clear: both;display: block;position:absolute;bottom:-8px;width:100%;">
           Show Graph
          </a>
         </div>
         <div class="panel_back" style="width:100%;height:100%;">
          <div id="total-currently-infected-linear">
          </div>
          <script type="text/javascript">
           Highcharts.setOptions({
        lang: {
            thousandsSep: ','
        }
    });

    var y_labels = ['0', '20,000', '40,000', '60,000', '140', '180', '200', '240'];
    Highcharts.chart('total-currently-infected-linear', {


        chart: {
            type: 'line',
            height: (9 / 16 * 100) + '%'
        },

        title: {
            text: null

        },

        /*subtitle: {
            text: '(Number of Infected People)'
        },*/

        xAxis: {
            categories: ["Jan 22","Jan 23","Jan 24","Jan 25","Jan 26","Jan 27","Jan 28","Jan 29","Jan 30","Jan 31","Feb 01","Feb 02","Feb 03","Feb 04","Feb 05","Feb 06","Feb 07","Feb 08","Feb 09","Feb 10","Feb 11","Feb 12","Feb 13","Feb 14","Feb 15","Feb 16","Feb 17","Feb 18","Feb 19","Feb 20","Feb 21","Feb 22","Feb 23","Feb 24","Feb 25","Feb 26","Feb 27","Feb 28","Feb 29","Mar 01","Mar 02","Mar 03","Mar 04","Mar 05","Mar 06","Mar 07","Mar 08","Mar 09","Mar 10","Mar 11","Mar 12","Mar 13","Mar 14","Mar 15","Mar 16","Mar 17","Mar 18","Mar 19","Mar 20","Mar 21","Mar 22","Mar 23","Mar 24","Mar 25","Mar 26","Mar 27","Mar 28","Mar 29","Mar 30","Mar 31","Apr 01","Apr 02","Apr 03","Apr 04","Apr 05","Apr 06","Apr 07","Apr 08","Apr 09","Apr 10","Apr 11","Apr 12","Apr 13","Apr 14","Apr 15","Apr 16","Apr 17","Apr 18","Apr 19","Apr 20","Apr 21","Apr 22","Apr 23","Apr 24","Apr 25","Apr 26","Apr 27","Apr 28","Apr 29","Apr 30","May 01","May 02","May 03","May 04","May 05","May 06","May 07","May 08","May 09","May 10","May 11","May 12","May 13","May 14","May 15","May 16","May 17","May 18","May 19","May 20","May 21","May 22","May 23","May 24","May 25","May 26","May 27","May 28","May 29","May 30","May 31","Jun 01","Jun 02","Jun 03","Jun 04","Jun 05","Jun 06","Jun 07","Jun 08","Jun 09","Jun 10","Jun 11","Jun 12","Jun 13","Jun 14","Jun 15","Jun 16","Jun 17","Jun 18","Jun 19","Jun 20","Jun 21","Jun 22","Jun 23","Jun 24","Jun 25","Jun 26","Jun 27","Jun 28","Jun 29","Jun 30","Jul 01","Jul 02","Jul 03","Jul 04","Jul 05","Jul 06","Jul 07","Jul 08","Jul 09","Jul 10","Jul 11","Jul 12","Jul 13","Jul 14","Jul 15","Jul 16","Jul 17","Jul 18","Jul 19","Jul 20","Jul 21","Jul 22","Jul 23","Jul 24","Jul 25","Jul 26","Jul 27","Jul 28","Jul 29","Jul 30","Jul 31","Aug 01","Aug 02","Aug 03","Aug 04","Aug 05","Aug 06","Aug 07","Aug 08","Aug 09","Aug 10","Aug 11","Aug 12","Aug 13","Aug 14","Aug 15","Aug 16","Aug 17","Aug 18","Aug 19","Aug 20","Aug 21","Aug 22","Aug 23","Aug 24","Aug 25","Aug 26","Aug 27","Aug 28","Aug 29","Aug 30","Aug 31","Sep 01","Sep 02","Sep 03","Sep 04","Sep 05","Sep 06","Sep 07","Sep 08","Sep 09","Sep 10","Sep 11","Sep 12","Sep 13","Sep 14","Sep 15","Sep 16","Sep 17","Sep 18","Sep 19","Sep 20","Sep 21","Sep 22","Sep 23","Sep 24","Sep 25","Sep 26","Sep 27","Sep 28","Sep 29","Sep 30","Oct 01","Oct 02","Oct 03","Oct 04","Oct 05","Oct 06","Oct 07","Oct 08","Oct 09","Oct 10","Oct 11","Oct 12","Oct 13","Oct 14","Oct 15","Oct 16","Oct 17","Oct 18","Oct 19","Oct 20","Oct 21","Oct 22","Oct 23","Oct 24","Oct 25","Oct 26","Oct 27","Oct 28","Oct 29","Oct 30","Oct 31","Nov 01","Nov 02","Nov 03","Nov 04","Nov 05","Nov 06","Nov 07","Nov 08","Nov 09","Nov 10"]
        },

        yAxis: {
            title: {
                text: 'Currently Infected',
                enabled: false

            }
            /*tickInterval: 20000,*/

            /*categories: [0,50000],
            labels: {

                format: "{value:,.%0f}"
            }*/
            /*labels: {
                step: 15
            }*/

        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            enabled: false
        },

        credits: {
            enabled: false
        },
        plotOptions: {
            line: {
                marker: {
                    enabled: false
                }
            }
        },


        series: [{
            name: 'Currently Infected',
            color: '#00DDDD',
            lineWidth: 5,
            data: [563,786,1238,1910,2669,4415,5823,7519,9439,11456,13951,16573,19630,23229,26627,29349,32195,34190,36459,38201,39395,52242,56484,57635,58282,58900,59102,59006,57624,56378,54957,54141,52271,50714,48943,47309,45012,43874,43141,42945,42540,42956,43503,45648,48714,51819,55451,60777,66806,76252,87309,101451,115086,132378,150383,169552,192873,220749,254231,281820,313187,351940,387105,427494,474131,524511,575979,620845,664696,718241,771606,823962,883210,937357,983761,1035268,1081282,1127054,1178211,1241061,1285102,1326873,1369864,1401626,1441504,1476236,1525013,1569525,1605187,1653254,1674101,1717584,1761983,1783352,1823241,1865473,1884039,1918330,1940656,1979808,2024445,2057557,2100259,2133832,2161093,2187870,2232623,2276789,2302404,2333903,2364052,2376639,2398225,2443617,2482017,2516984,2547038,2585051,2622086,2654857,2697219,2692591,2728630,2765079,2788860,2811167,2842727,2867977,2919538,2959356,2952715,2991720,2992504,2951936,2992340,3035374,3081676,3141598,3167793,3214488,3206795,3230766,3278116,3299622,3342441,3371073,3398940,3426357,3458556,3521898,3558344,3582118,3632292,3668015,3700200,3786938,3843188,3916304,3982705,4032719,4072216,4133075,4137809,4214349,4266587,4343532,4402374,4394125,4421802,4482673,4565532,4629796,4718135,4795817,4858802,4897501,4897611,4955086,5024612,5117979,5148468,5178119,5210752,5293847,5389453,5453722,5539401,5570165,5587787,5632510,5671143,5729803,5813379,5885195,5875021,5889356,5913787,5997845,6087669,6174250,6156255,6153552,6157213,6174920,6239772,6301556,6374344,6360766,6331233,6328865,6343809,6396704,6462368,6526072,6559161,6498761,6498475,6504122,6558434,6640343,6689555,6713698,6726874,6730287,6762808,6808785,6847239,6901394,6926936,6903708,6907114,6920406,6977634,7049074,7107753,7136852,7133783,7147632,7188324,7259632,7279903,7326594,7332168,7287483,7275393,7304201,7365301,7438406,7499765,7527012,7518528,7536570,7565144,7643003,7739911,7809568,7833185,7851604,7884153,7967136,8079270,8189211,8334971,8382338,8404294,8471251,8570979,8715423,8847543,8999610,9110619,9211035,9324273,9472310,9674450,9915473,10134925,10309102,10434676,10621171,10847774,11113674,11411167,11654554,11837761,12027066,12212392,12460249,12755014,13101320,13441599,13700408,13922343,14143417]        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 800
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
          </script>
          <a class="flip_cases_back" href="javascript: void(0);" style="clear: both;position: absolute;width:100%;bottom:-8px;left:0;">
           Show Statistics
          </a>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="col-md-6">
      <div class="panel panel-default">
       <div class="panel-heading" style="text-align:center;">
        <span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
         Closed Cases
        </span>
       </div>
       <div class="panel-body" style="text-align:center;height:200px;">
        <div class="panel_flip">
         <div class="panel_front" style="width:100%;height:100%;">
          <div class="number-table-main">
           37,902,516
          </div>
          <div style="font-size:13.5px">
           Cases which had an outcome:

In [ ]:
def parseNumber():
    r= requests.get("https://www.worldometers.info/coronavirus/")
    soup = BeautifulSoup(r.text, "lxml")
    number = soup.find_all('div', {'class': 'maincounter-number'})[0].find('span').text
    return number
while True:
    print('the current number is ' +str(parseNumber()))

In [ ]:
soup.find_all('div', {'class': 'maincounter-number'})[0].find('span').text